<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{ company }}</title>
    </head>
    <body>
        <h1>{{ company }} task</h1>
        <p> {{ status }} env </p>
    </body>
</html>